version: '3.8'

services:
    monopoly-nginx:
        image: offly:monopoly-nginx
        container_name: monopoly-nginx
        environment:
            API_BASE_URL: "http://localhost:8081"
            WS_BASE_URL: "ws://localhost:8081"
        ports:
            - "8080:8080"
        networks:
            - monopoly-network

    monopoly-scala:
        image: offly:monopoly-scala
        container_name: monopoly-scala
        environment:
            SERVER_PORT: "8081"
        volumes:
            - ./scala-server:/app
        ports:
            - ":8081"
        networks:
            - monopoly-network

networks:
    monopoly-network:
        driver: bridge
